
/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$lightblue: #00c9cb;

p {
  margin: 0px;
}

a { 
  text-decoration: none;
  color: #000000;
  &:hover {
    color: $lightblue;
  }
  transition: .3s all !important;
}

a:hover,
a:focus {
  text-decoration: none;
}

input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

html{
  scroll-behavior: smooth;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  color: #031322;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Grotesk';
  background: #fff;
}
.container {
  max-width: 1224px;
}
.row {
  margin: 0 -12px;
  >div {
    padding: 0 12px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  //transition: .3s all !important;
  outline: none !important;
}

/*======================================== end config =================================*/

.content-head {
  .logo {
    position: absolute;
    top: 48px;
    left: 48px;
    z-index: 2;
  }
  .btn-bar {
    position: fixed;
    top: 48px;
    right: 48px;
    z-index: 2;
  }
}

footer {
  background: #685900;
  color: #fff;
  padding: 64px 0 96px 0;
  a {
    color: #fff !important;
    display: inline-flex;
    align-items: center;
    svg {
      margin-left: 8px;
    }
  }
  .logo {
    img {
      max-width: 135px
    }
  }
  ul {
    list-style: none;
    max-width: 272px;
    li {
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .copyright {
    margin-top: 80px;
  }
}
.title-fter {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: initial;
    margin-bottom: 16px;
    min-height: 52px;
}