.title {
	h2 {
		font-size: 72px;
		font-weight: 500;
	}
}
.box-bannerhome {
	position: relative;	
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #E2E2E2;
}
.slide-banner {
	max-width: 808px;
	margin: 0 auto;
} 
.box-breadcrumbs {
	padding: 24px 0;
	background: #E2E2E2;
	ul {
		list-style: none; 
	    display: flex;
	    align-items: center;
	    flex-wrap: wrap;
	    li {
	    	position: relative;
	    	margin-right: 10px;
	    	padding-right: 10px;
	    	&:after {
	    		content: "|";
	    		position: absolute;
	    		top: 0;
	    		right: -3px;
	    		color: #C1C1C1;
	    	}
	    	&:last-child {
	    		padding-right: 0;
	    		margin-right: 0;
	    		&:after {
	    			display: none;
	    		}
	    	}
	    	a {
	    		color: #C1C1C1;
	    	}
	    	&:first-child {
	    		a {
	    			color: #000000;
	    		}
	    	}
	    }
	}
}
.box-correlate {
	padding-top: 88px;
	.title {
		margin-bottom: 32px;
	}
}
.desc-corr {
	max-width: 488px;
	p {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.corr-flex {
	display: flex;
    margin: 0 -12px;
    align-items: flex-end;
    .avr {
    	flex: 0 0 66.6666%;
	    max-width: 66.6666%;
	    padding: 0 12px;
    }
    .desc {
    	flex: 0 0 33.3333%;
	    max-width: 33.3333%;
	    padding: 0 12px;
	    color: #C1C1C1;
    }
}
.item-founder {
	display: flex;
	margin-bottom: 64px;
	&:last-child {
		margin-bottom: 0;
	}
	.avarta {
		flex: 0 0 288px;
		margin-right: 32px;
	}
	h4 {
		font-size: 36px;
    	font-weight: 400;
	}
	.permistion {
		font-size: 20px;
	    line-height: initial;
	    padding: 16px 0 32px 0;
	    font-weight: 500;
	}
}
.box-founder {
	padding: 160px 0;
}
.box-member {
	padding: 0 0 160px 0;
}
.title-memb {
	font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    position: sticky;
    top: 20px;
}
.list-member {
	.col-md-3 {
		margin-top: 48px;
	}
	@for $i from 1 through 4 {
	  .col-md-3:nth-child(#{$i}) {
	    margin-top: 0;
	  }
	}
	.item-member {
		h4 {
			margin-top: 16px;
		    font-size: 20px;
		    font-weight: 500;
		    line-height: 1.2;
		}
		.per {
			font-weight: 700;
		    line-height: initial;
		    padding: 4px 0 0 0;
		}
	}
}

.box-service {
	padding: 64px 0 96px 0;
	background: #685900;
	color: #fff;
}
.list-service {
	.item-service {
		margin-bottom: 32px;
		&:last-child {
			margin-bottom: 0;
		}
		h3 {
			font-size: 36px;
			font-weight: 400;
			margin-bottom: 8px;
		}
	}
}

.box-life {
	padding: 160px 0 240px 0;
	.title-life {
		margin-bottom: 95px;
		font-size: 48px;
		font-weight: 500;
		text-transform: uppercase;
	}
}
.list-gall-life {
	.row {
		>div {
			margin-bottom: 24px;
		}
	}
}
.box-banner {
	position: relative;
	min-height: 100vh;
	.caption-banner {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    background: #e2e2e2;
		h1 {
			color: #685900;
			font-size: 80px;
			font-weight: 500;
			line-height: 1.1;
		}
	}
}

.box-service-cate {
	padding: 0 0 160px 0;
	.col-md-6 {
		margin-top: 72px;
	}
}
.item-srv {
	max-width: 480px;
	h3 {
		font-size: 48px;
		font-weight: 500;
		text-transform: uppercase;
	}
	h4 {
		font-size: 20px;
		font-weight: 500;
		padding: 16px 0;
		text-transform: uppercase;
	}
	p {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.box-step {
	background: #E2E2E2;
}
.box-policy {
	padding: 160px 0;
}
.txt-pol {
	max-width: 376px;
	.title-pol {
		font-size: 48px;
	    font-weight: 500;
	    text-transform: uppercase;
	    line-height: initial;
	}
	.desc {
		padding: 16px 0 24px 0;
	}
	.view-pol {
		a {
			display: inline-flex;
		    color: #685900;
		    font-weight: 500;
		    align-items: center;
		}
	}
}
.box-form {
	padding: 0 0 240px 0;
	.title-form {
		border-top: 2px solid #685900;
    	padding: 24px 0 48px 0;
    	h3 {
    		font-size: 36px;
		    font-weight: 400;
		    line-height: initial;
		    margin-bottom: 8px;
    	}
	}
}

.box-diary {
	padding: 112px 0 160px 0;
	.row {
		.col-md-6 {
			margin-top: 64px;
			&:first-child, &:nth-child(2) {
				margin-top: 0;
			}
		}
	}
}
.item-diary {
	height: 100%;
	color: #C1C1C1;
	font-weight: 300;
	&:hover {
		h3 {
			a {
				color: #685900;
			}
		}
	}
	.avarta  {
		margin-bottom: 16px;
	}
	h3 {
		a {
			color: #000000;
		    font-size: 20px;
		    font-weight: 500;
		    text-transform: uppercase;
		    display: block;
		}
	}
	.info {
		display: flex;
    	justify-content: space-between;
    	.left {
    		flex: 0 0 60%;
    		max-width: 60%;
    	}
    	.right {
    		flex: 0 0 40%;
    		max-width: 40%;
    		text-align: right;
    		a {
    			color: #C1C1C1;
			    font-weight: 500;
			    display: inline-flex;
			    align-items: center;
			    svg {
			    	margin-left: 8px;
			    }
    		}
    	}
	}
}

.box-search-job {
	background: #E2E2E2;
    padding: 96px 0 160px 0;
    .title-txt-search {
    	h2 {
    		font-size: 72px;
		    font-weight: 500;
		    max-width: 460px;
		    line-height: 1;
		    margin-top: -10px;
    	}
    }
    &.search-subjob {
    	padding: 120px 0;
    }
}
.box-job {
	padding: 160px 0 240px 0;
	.col-md-6 {
		margin-top: 96px;
		&:first-child, &:nth-child(2) {
			margin-top: 0;
		}
	}
}

.item-job {
	max-width: 490px;
	h3 {
		margin-bottom: 32px;
		a {
			display: inline-flex;
		    align-items: center;
		    font-size: 48px;
		    font-weight: 500;
		    text-transform: uppercase;
		    color: #000000;
		    img {
		    	margin-left: 16px;
			    transition: .3s all !important;
			    transform: rotate(180deg);
		    }
		}
		&.active {
			a {
				img {
					transform: rotate(0deg);
				}
			}
		}
	}
	.t-job {
		font-size: 20px;
	    font-weight: 500;
	    text-transform: uppercase;
	    margin-bottom: 16px;
	}
	p {
		margin-bottom: 8px;
	}
	ul {
		padding-left: 18px;
		li {
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.info-job {
		margin-bottom: 48px;
		display: none;
	}
	.job-detail {
		a {
			display: inline-flex;
		    align-items: center;
		    color: #685900;
		    font-weight: 500;
		    svg {
		    	margin-left: 8px;
		    }
		}
	}
}

.tags-job {
	margin-top: 48px;
	ul {
		list-style: none;
		li {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	a {
		background: #FFFFFF;
	    padding: 4px 8px;
	    display: inline-flex;
	    align-items: center;
	    justify-content: center;
	    &:hover {
	    	background: #685900;
	    	color: #fff;
	    }
	}
}
.box-subjob {
	padding: 96px 0 240px 0;
	.col-md-5 {
		margin-top: 88px;
		&:first-child, &:nth-child(2) {
			margin-top: 0;
		}
	}
}
.item-subjob {
	max-width: 360px;
	.info {
		h3 {
			padding: 32px 0 16px 0;
			a {
				background: #E2E2E2;
			    height: 32px;
			    display: inline-flex;
			    align-items: center;
			    justify-content: center;
			    font-size: 16px;
			    font-weight: normal;
			    padding: 0 8px;
			    &:hover {
			    	background: #685900;
			    	color: #fff;
			    }
			}
		}
	}
}

.pagination {
	margin-top: 120px;
	ul {
		list-style: none;
	    display: flex;
	    align-items: center;
		li {
			margin-right: 10px;
		}
	}
	a {
		font-size: 20px;
	    font-weight: 500;
	    display: inline-flex;
	    padding: 0 3px;
	    border-bottom: 2px solid transparent;
	    &.active, &:hover {
	    	color: #000000;
	    	border-bottom: 2px solid #000000;
	    }
	}
}
.box-detail-job {
	background: #E2E2E2;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .col-md-7 {
    	padding-right: 60px;
    }
}
.txt-thumb-detail {
	h1 {
		font-size: 72px;
		font-weight: 500;
	}
	.tag-cate {
		padding: 32px 0 18px 0;
		a {
			background: #685900;
		    color: #fff;
		    height: 32px;
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
		    font-size: 16px;
		    font-weight: normal;
		    padding: 0 8px;
		}
	}
	ul {
		list-style: none;
	}
}

.box-title-now {
	padding: 128px 0 96px 0;
	.title-now {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	p {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.gall-detail {
		padding: 98px 0 72px 0;
	}
}
.txt-strong-title {
	h2 {
		font-size: 36px;
	    font-weight: normal;
	    max-width: 420px;
	}
}
.box-strong-title {
	margin-bottom: 78px;
}