.box-bannerhome {
	position: relative;	
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #E2E2E2;
}
.slide-banner {
	max-width: 808px;
	margin: 0 auto;
}